* {
  box-sizing: border-box;
}
body{
 
    margin: 0px;
    font-family: sans-serif;
   background: #000;
   
    
}

header{
    width: 100%;
    background: #efb810;
    height: 70px;
    

}

.ancho{
   width: 80%;
   height: 70px;
   background: #efb810;
   margin: auto;
   float: left;
}

.logo{
    width: 30%;
    height: 70px;
    background: #efb810;
    float: left;
    margin-top: 0px;
    padding: 0px;
}

.imglogo{
    height: 3em;
    width: 10em;
    margin-top: 0.5em;   
    padding-left: 1em;
}

.logo p a{
    width: 30%;
    height: 70px;
    float: left;
}



/* Ocultar el checkbox del menu */
#btn-Menu{
display: none;
}

/* Ocultar la imagen del menu display:nome */
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
  
}

/*Cuando pase el mouse cambie el puntero*/
header label:hover{
    cursor: pointer;
 /*   background: rgba(0,0,0,0.3);    */
}

.menu ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex; /*hace que los links sean flexibles y los coloque en fila*/
    justify-content: flex-end;
}


.menu li:hover{
    background: #001f3f;
   
    
}
.menu li a:hover{
    color: #efb810;
}



.menu li a{
    display: block;
    padding: 15px 20px;
    color: #001f3f;
    text-decoration: none;
    font-size:20px;

}

/*Cuando la pantalla se haga pequeña ocultar el menu en la esquina*/

@media (max-width:1024px){
    header label{
        display: block;
        float:left;
    
      
     
    }

    .logo{
        /*
height: 5em;
margin-left: 0em;
        */
        width: 30%;        
        background: #efb810;
        float:inline-end;
        margin-top: 0;
        margin-left: 8em;
      



    }

    .imglogo{
        height: 3em;
        width: 10em;
        margin-top: 0.5em;
        padding-right: 1em;
        
        
        
    }

    .menu{
        position:absolute; /*absolute*/
        background: #efb810;
        width: 50%;
        margin-left: -50%;
        
        
      
       
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid #fff;
    }

    /*cuando el checkbox este marcado, ~ busque la clase menu */
    #btn-Menu:checked ~ .menu {
      /*  margin: 40px;*/
      margin-left: 15px; /*Controlar la posicion del menu cuando se reduce la pantalla*/
      margin-top: 45px;
     z-index: 1000; /*Para que el menu se muestre por ensima del carrusel*/
    }
}

/*Carrusel*/



/* Slideshow container */
.container-slider{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centra la imagen*/
    overflow: hidden; /*Oculta las demas imagenes del slider*/
    position: relative;  /*relative*/
    z-index: 1;
    
}

.slider{
  display: flex; /*Poner las imagenes al lado de la otra*/
  width: 200%; /*si son 2 imagenes 200, si son 3 300...*/
  height: 500px;
  margin-left: -100%;
  
  

}

.slider__section{
    width: 100%;
  
}

.slider__img{
    /*display:table;*/
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Para que no importe el tamaño de las imaganes*/
    position:relative;
   
}

.slider__btn{
position: absolute; /*Colocar los botones a los lados del slider*/
width: 40px;
height: 40px;
 background: rgba(255,255,255,0.7);
 top: 50%;
 transform:translateY(-50%);/*Centrarlos de manera vertical*/
 font-size: 30px;
 font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 20%;
  cursor: pointer; /*Separar los botones*/

}

.slider__btn:hover {
background: #fff;
}

.silder__btn--left{
left: 5px;
}

.silder__btn--right{
    right: 5px;

}


/*Fin Carrusel */

/*Catalogo productos*/





.product img{
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}



.product h4{
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    
}

.product p{
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    
}

.card{
    border-radius: 4px;
    background:white;
    width: 170px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left: 20px;
    float: left;
}

/*Fin Catalogo productos*/


